DATABASE_URL='postgresql://user:password@host:5432/dbname'
NEXTAUTH_SECRET=your_secret_here
NEXTAUTH_URL=https://escandir.com
AWS_PROFILE=hosted_storage
AWS_REGION=us-west-2
AWS_BUCKET_NAME=your_bucket_name
AWS_FOLDER_PREFIX=your_prefix/
ABACUSAI_API_KEY=your_key_here
WEB_APP_ID=your_app_id
NOTIF_ID_NOVO_PEDIDO_DE_LIVRO=your_notif_id
MERCADOPAGO_ACCESS_TOKEN=APP_USR-xxx
